<nav class="navbar bg-body-tertiary">
  <div class="container">
    <span class="navbar-brand mb-0 h1" role="button" routerLink="/products">{{
      user().fullName
    }}</span>

    <ul class="d-flex flex-row gap-3 navbar-nav mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="userIsAdmin">
        <a
          class="nav-link active"
          aria-current="page"
          [routerLink]="['/users-shopping-detail']"
          ><i class="fa-solid fa-bag-shopping"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          [routerLink]="['/shopping', user().id]"
          ><i class="fa-solid fa-cart-shopping"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
