.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.login-page .login-page__left-side {
  width: 100%;
  height: 100%;
}

.login-page .login-page__left-side {
  & .login-page__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.login-page .login-page__right-side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page .login-page__right-side .login-page__form {
  border: 1px solid gray;
  min-width: 350px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.login-page .login-page__right-side h2 {
  font-size: 18px;
  font-weight: 700;
}
.login-page .login-page__right-side p {
  font-size: 12px;
  margin-bottom: 20px;
}

.login-page .login-page__right-side .login-page__form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-page .login-page__right-side .login-page__form input {
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid gray;
}

.login-page .login-page__right-side .login-page__form label {
  font-weight: 600;
  margin-bottom: 5px;
}

.login-page .login-page__right-side .login-page__form input:focus,
.login-page .login-page__right-side .login-page__form input:active {
  border: 1px solid blue;
}

.login__button {
  width: 30%;
  border: none;
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.login__button:disabled {
  background-color: rgb(84, 84, 198);
  cursor: auto;
}

@media screen and (max-width: 750px) {
  .login-page {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
}

@media screen and (max-width: 400px) {
  .login-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .login-page .login-page__left-side {
    display: none;
    margin: 10px;
  }
}
