<app-user-management-layout
  className="user-list"
  id="user-list"
  title="Listado de Usuarios">
  <ng-container *ngIf="loading$ | async; else showUsers">
    <p>Cargando...</p>
  </ng-container>

  <ng-template #showUsers>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Cuenta</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.account }}</td>
          <th>{{ user.type }}</th>
          <td>{{ user.status }}</td>
          <td>
            <button
              class="btn btn-warning"
              [routerLink]="['form-user', user.id]">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</app-user-management-layout>
